# Used for customizing output of markdown library, e.g. to replace occurrences
# of <img> tags with <figure> + <figcaption>
beautifulsoup4==4.9.3

# Used for providing an HTML excerpt of each post on the index page
excerpt-html==0.1b2

# Page templates
Jinja2==2.11.2

# Support writing post content in Markdown and rendering to HTML
markdown==3.3.3

# Syntax highlighting for fenced code blocks
Pygments==2.7.4

# Support frontmatter in YAML format
PyYAML==5.3.1
