// ----- Let's try these out -----

@import "bourbon"
@import "neat"

// ----- For syntax highlighting -----

@import "highlighting.css"

// ----- Post-specific styling -----

@import "posts/charts-made-dead-simple-with-hightables"

// ----- Colors -----

$black:       #000
$dark-gray:   #555
$light-blue:  #dfefff
$light-gray:  #eee
$light-green: #36BCAB
$pink:        #d14
$yellow:      #ffe

// ----- Fonts -----

@import "fonts/fonts"

$heading-font: Lato, Helvetica, Arial, sans-serif

$content-font: Cambria, Georgia, serif

$code-font: Consolas, Inconsolata, monospace

// ----- Borrowed from Wordpress "Chunk" theme -----

$title-font: Oswald, Helvetica, Arial, sans-serif

body
  background-image: linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0) 150px)
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0) 150px)
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0) 150px)

  background-repeat: repeat-x
  margin: auto
  padding-bottom: 60px

// ----- Layout -----

$desktop-width: 1200px
$tablet-width:  768px
$phone-width:   640px

main
  @include outer-container

  display: block

  @include media($desktop-width)
    width: 75%

  @include media($tablet-width)
    min-width: $tablet-width
    max-width: $desktop-width * 4 / 3
    width: 60%

    nav
      @include span-columns(3)

      text-align: right

      ul
        list-style: none
        padding-left: 0

        &:not(:last-of-type)
          padding-bottom: 10px
          border-bottom: 1px solid black

        li
          font-size: 150%

          a.icon-link:hover
            text-decoration: none

          img
            vertical-align: middle

    #content
      @include span-columns(9)

      &.full-width
        width: 100%

  @include media(max-width $tablet-width - 1)
    nav
      position: fixed
      bottom: 0
      left: 0
      right: 0
      height: 50px
      line-height: 50px
      margin: 0
      padding: 0

      background-color: $dark-gray
      opacity: 0.9
      filter: alpha(opacity=90)

      ul
        display: inline-block
        float: left
        list-style: none
        margin: 0
        padding: 0 1em

        &:first-child li:first-child,
        &:nth-child(2)
          display: none

        &:last-child
          float: right

        li
          display: inline-block

          a
            color: lighten($light-green, 30%)
            font-weight: bold
            border: none

          img
            height: 24px
            width: 24px
            vertical-align: middle
            border: none

    #content
      @include span-columns(12)

  .posts
    display: table
    width: 100%

    .post
      display: table-row

      .title
        display: table-cell
        padding-right: 1em

      .date
        display: table-cell
        text-align: right

// ----- Other typography stuff -----

@mixin nav-link
  font-family: $heading-font
  font-weight: 300

  a
    font-weight: 300

    &:hover
      color: lighten($light-green, 20%)
      text-decoration: underline

  &:nth-child(even) a
    color: darken($light-green, 20%)

    &:hover
      color: lighten($light-green, 20%)

h1, h2, h3, h4, h5, h6
  font-family: $heading-font
  font-weight: 300

article
  header h1
    margin-top: 0
    margin-bottom: 0.5ex

    a
      color: black
      font-weight: 300

      &:hover
        color: lighten($light-green, 20%)

  p, li, blockquote
    font-family: $content-font

  blockquote
    margin-left: 1em
    padding: 5px 1em
    border-left: 5px solid $light-green
    background-color: $light-gray

  iframe
    display: block
    margin: auto !important

  table
    width: 75%
    margin: auto

    th, td
      padding: 0.5ex 0.5em

      &:not(:first-child)
        text-align: right

  figure
    text-align: center

    img
      max-width: 100%

    .pie-chart
      float: left
      width: 50%

    &:after
      clear: both

  figcaption
    font-family: $heading-font
    text-align: center

  code
    color: $pink
    font-family: $code-font

  pre
    padding: 10px
    overflow: scroll

a
  color: $light-green
  text-decoration: none

  &:hover
    color: darken($light-green, 20%)

hr
  border: none
  text-align: center

  &:after
    content: "~~~"
    color: $dark-gray

.footnotes
  hr
    display: none

  border-bottom: 1px solid $light-gray
  margin-bottom: 20px
  padding-bottom: 20px

body > header
  h1, h2
    font-family: $title-font
    font-weight: bold
    text-align: center

    a:hover
      color: $light-green

  h1
    margin-bottom: 0
    text-transform: uppercase

    a
      color: $black

  h2
    color: $dark-gray
    margin-top: 0
    text-transform: lowercase

    a
      color: $dark-gray

  @include media(max-width $tablet-width - 1)
    h1, h2
      text-align: left

nav ul li,
.posts .post
  @include nav-link

sup
  font-size: 50%

// ----- Responsive font sizing -----

@mixin set-font-size($base-font-size)
  body > header
    h1
      font-size: $base-font-size * 4
    h2
      font-size: $base-font-size * (4 / 3)

  blockquote
    font-size: $base-font-size

  pre
    font-size: $base-font-size * (2 / 3)

  code
    font-size: $base-font-size - 2

  pre code
    font-size: $base-font-size * (2 / 3)

  figure
    figcaption
      font-size: $base-font-size * (2 / 3)

  article, .posts
    font-size: $base-font-size

    small
      font-size: $base-font-size * (2 / 3)

    header
      h1
        font-size: $base-font-size * 2

        .date
          color: $dark-gray
          font-size: $base-font-size

        .comments
          font-size: $base-font-size
          white-space: nowrap

    .footnotes
      font-size: $base-font-size * (7 / 12)

@include set-font-size(16px)

@include media(max-width $tablet-width - 1)
  body > header, main
    padding: 10px

@include media($tablet-width)
  @include set-font-size(20px)

@include media($desktop-width)
  @include set-font-size(24px)

// Prevent UI jitter when sharing buttons load
.sharethis-inline-share-buttons
  min-height: 32px
