%script(src="#{SITE_ROOT}/javascripts/jquery-1.9.1.min.js" type="text/javascript")
%script(src="#{SITE_ROOT}/javascripts/highcharts-3.1.min.js" type="text/javascript")
%script(src="#{SITE_ROOT}/javascripts/hightables.min.js" type="text/javascript")

:javascript
  function revealTable() {
    $("#activity-value-vs-time-table").toggleClass("hidden");
  }
