html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

a {
  color: #000088;
  text-decoration: none; }

a:hover {
  color: #888800; }

code {
  font-family: Consolas, Inconsolata, monospace; }

#header {
  background-color: #d2dadf;
  border-bottom: 1px solid black;
  padding: 12px 25px; }
  #header h1 {
    color: #445560;
    font-size: 24px;
    line-height: 24px;
    margin: 0; }

@media all and (min-width: 800px) {
  #header {
    position: absolute;
    right: 0;
    height: 24px;
    width: 350px; } }
#menu-header {
  background-color: #d2dadf;
  border-top: 1px solid black;
  padding: 5px 25px; }
  #menu-header h1 {
    color: #445560;
    font-size: 32px;
    line-height: 32px;
    margin: 0; }

#menu {
  border-top: 1px solid black;
  padding: 0 25px 25px; }
  #menu .menu-heading {
    font-size: 24px; }
  #menu .menu-item {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  #menu a {
    font-weight: bold; }

@media all and (min-width: 800px) {
  #menu-header {
    display: none; }

  #menu {
    position: absolute;
    top: 48px;
    bottom: 0;
    right: 0;
    width: 350px; } }
#content {
  padding: 0 25px 25px; }
  #content p, #content li, #content label, #content input, #content textarea {
    font-size: 24px; }
  #content pre {
    background-color: #d2dadf;
    font-size: 20px;
    padding: 10px; }
  #content h1.post-title {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 0; }
  #content h2.post-info {
    color: #888888;
    font-size: 24px;
    font-weight: 300;
    margin-top: 0; }
  #content h2 {
    font-size: 36px; }
  #content h3 {
    font-size: 28px; }

@media all and (min-width: 800px) {
  #content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 400px;
    border-right: 1px solid black;
    overflow: auto; } }
#comments {
  border-top: 1px solid black;
  margin-top: 25px; }
  #comments .comment {
    padding: 10px; }
    #comments .comment .reader-name {
      font-size: 28px;
      font-weight: bold; }
    #comments .comment .comment-time {
      color: #445560;
      font-size: 16px; }
    #comments .comment p {
      font-size: 20px;
      margin: 10px auto; }
  #comments .comment:nth-child(odd) {
    background-color: #e1e6ea; }
  #comments .comment:nth-child(even) {
    background-color: #f0f3f4; }
  #comments form p {
    font-weight: bold; }
  #comments .field {
    margin-top: 10px; }
    #comments .field input, #comments .field textarea {
      border: 1px solid black; }
    #comments .field textarea {
      height: 200px;
      width: 500px; }
    @media all and (min-width: 1200px) {
      #comments .field label {
        display: inline-block;
        vertical-align: top;
        width: 200px; }
      #comments .field input, #comments .field textarea {
        margin-left: 0; }
      #comments .field textarea {
        margin-left: 0; } }
    @media all and (max-width: 1199px) {
      #comments .field label {
        display: block; } }
    @media all and (max-width: 549px) {
      #comments .field input, #comments .field textarea {
        width: 100%; } }
