html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

code {
  font-family: Consolas, Inconsolata, monospace; }

#header {
  background-color: #d2dadf;
  border-bottom: 1px solid black;
  padding: 8px 25px;
  height: 48px; }
  #header h1 {
    color: #445560;
    font-size: 48px;
    line-height: 48px;
    margin: 0; }

#menu {
  position: absolute;
  top: 64px;
  bottom: 0;
  right: 0;
  width: 350px;
  padding: 0 25px; }
  #menu .menu-heading {
    font-size: 24px; }
  #menu .menu-item {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  #menu a {
    color: #000088;
    font-weight: bold;
    text-decoration: none; }
  #menu a:hover {
    color: #888800; }

#content {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 400px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding: 0 25px 25px;
  overflow: auto; }
  #content p, #content li, #content label, #content input, #content textarea {
    font-size: 24px; }
  #content pre {
    background-color: #d2dadf;
    font-size: 20px;
    padding: 10px; }
  #content h1 {
    font-size: 48px;
    font-weight: 300; }
    #content h1 span.date {
      color: #888888;
      font-size: 24px; }
  #content h2 {
    font-size: 36px; }
  #content h3 {
    font-size: 28px; }

#comments {
  margin-top: 25px; }
  #comments .comment {
    font-size: 20px;
    padding: 10px; }
    #comments .comment .reader-name {
      font-size: 28px;
      font-weight: bold; }
    #comments .comment .comment-time {
      color: #445560;
      font-size: 16px; }
  #comments .comment:nth-child(odd) {
    background-color: #e1e6ea; }
  #comments .comment:nth-child(even) {
    background-color: #f0f3f4; }
  #comments form p {
    font-weight: bold; }
  #comments .field label {
    display: inline-block;
    vertical-align: top;
    width: 300px; }
  #comments .field input, #comments .field textarea {
    border: 1px solid black;
    margin-left: 0;
    margin-top: 10px; }
  #comments .field textarea {
    margin: 10px auto;
    height: 300px;
    width: 500px; }
