// Colors
$darkBlue: #445560
$yellow: #ffc
$gray: #d2dadf

// Sizes
$headerFontSize: 48px
$headerHeight: 64px

html, body
  font-family: Helvetica, Arial, sans-serif
  margin: 0
  padding: 0
  height: 100%
  width: 100%

a
  color: #008
  text-decoration: none

a:hover
  color: #880

code
  font-family: Consolas, Inconsolata, monospace

#header
  background-color: $gray
  border-bottom: 1px solid black
  padding: (($headerHeight - $headerFontSize) / 2) 25px
  height: $headerFontSize

  h1
    color: $darkBlue
    font-size: $headerFontSize
    line-height: $headerFontSize
    margin: 0

#menu
  position: absolute
  top: $headerHeight
  bottom: 0
  right: 0
  width: 350px
  padding: 0 25px

  .menu-heading
    font-size: 24px

  .menu-item
    font-size: 16px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  a
    font-weight: bold

#content
  position: fixed
  top: $headerHeight
  bottom: 0
  left: 0
  right: 400px
  border-top: 1px solid black
  border-right: 1px solid black
  padding: 0 25px 25px
  overflow: auto

  p, li, label, input, textarea
    font-size: 24px

  pre
    background-color: $gray
    font-size: 20px
    padding: 10px

  h1
    font-size: 48px
    font-weight: 300

    span.date-and-comments
      color: #888
      font-size: 24px

  h2
    font-size: 36px

  h3
    font-size: 28px

#comments
  margin-top: 25px

  .comment
    font-size: 20px
    padding: 10px

    .reader-name
      font-size: 28px
      font-weight: bold

    .comment-time
      color: $darkBlue
      font-size: 16px

    p
      margin: 10px auto

  .comment:nth-child(odd)
    background-color: lighten($gray, 5%)

  .comment:nth-child(even)
    background-color: lighten($gray, 10%)

  form
    p
      font-weight: bold

  .field
    margin-top: 10px

    label
      display: inline-block
      vertical-align: top
      width: 300px

    input, textarea
      border: 1px solid black
      margin-left: 0

    textarea
      margin-left: 0
      height: 200px
      width: 500px
