@media all and (min-width: 1200px)
  @include setFontSizes(24px)

  article,
  .next-page,
  footer ul.menu
    min-width: 1080px
    width: 75%

  table
    width: 75%

@media all and (max-width: 1199px)
  @include setFontSizes(20px)

  article,
  .next-page,
  footer ul.menu
    width: 90%

@media all and (max-width: 640px)
  @include setFontSizes(16px)
  @include capImageSizes(480px)

  blockquote
    margin: 0

    p
      padding: 0

  article
    padding: 10px

    figure
      margin-left: 0
      padding-left: 0
      text-align: left

      img
        padding: 0

  .index
    width: auto
    padding: 10px

    ul.posts
      li.post
        .date
          width: 150px

  footer
    ul.menu
      width: 100%
      padding: 0 10px

@media all and (max-width: 480px)
  @include capImageSizes(100%)

  #header
    padding: 10px
    text-align: left

  .index
    ul.posts
      display: block

      li.post
        display: block
        font-size: 16px

        .title,
        .date
          display: block
          text-align: left

        .title
          line-height: 75%

        .date
          font-size: 14px
          color: $darkGray
