@media all and (min-width: 1200px)
  article
    min-width: 1200px
    width: 75%

  table
    width: 75%

@media all and (max-width: 1199px)
  article
    width: 90%

@media all and (max-width: 640px)
  blockquote
    font-size: 14px
    margin: 0

    p
      padding: 0

  pre
    font-size: 12px

  #header
    h1
      font-size: 48px

    h2
      font-size: 24px

  article
    font-size: 16px
    padding: 10px

    header
      h1
        .title
          font-size: 32px

        .date
          font-size: 16px

    figure
      margin-left: 0
      padding-left: 0
      text-align: left

      img
        max-width: 480px

  .index
    width: auto
    padding: 10px

    ul.posts
      li.post
        font-size: 16px

        .date
          width: 150px

  footer
    ul.menu
      width: 100%
      padding: 0 10px

@media all and (max-width: 480px)
  #header
    padding: 10px
    text-align: left

  article
    figure
      img
        max-width: 400px

  .index
    ul.posts
      display: block

      li.post
        display: block
        font-size: 16px

        .title,
        .date
          display: block
          text-align: left

        .title
          line-height: 75%

        .date
          font-size: 14px
          color: $darkGray

// Does this happen?
@media all and (max-width: 360px)
  article
    figure
      img
        max-width: 320px
