// Colors
$darkGray:   #555
$lightBlue:  #dfefff
$lightGray:  #eee
$lightGreen: #36BCAB
$pink:       #d14
$yellow:     #ffe

// Fonts
@font-face
  font-family: Oswald
  font-style: normal
  font-weight: 400
  src: local("Oswald Regular"), local("Oswald-Regular"), url("#{site_root()}/fonts/Oswald.woff") format("woff")

@font-face
  font-family: Segoe
  font-style: normal
  font-weight: 400
  src: local("Segoe UI"), local("Segoe-UI"), url("#{site_root()}/fonts/SegoeUI.woff") format("woff")

// Borrowed from Wordpress "Chunk" theme
@mixin titleFont
  font-family: Oswald, Helvetica, Arial, sans-serif
  font-weight: bold
  text-rendering: optimizeLegibility

@mixin headingFont
  font-family: Segoe, Helvetica, Arial, sans-serif

@mixin contentFont
  font-family: Cambria, Georgia, serif

@mixin codeFont
  font-family: Consolas, Inconsolata, monospace

@mixin setFontSizes($baseFontSize)
  blockquote
    font-size: $baseFontSize * (5 / 6)

  pre
    font-size: $baseFontSize * (2 / 3)

  code
    font-size: $baseFontSize - 2

  pre code
    font-size: $baseFontSize * (2 / 3)

  figure
    figcaption
      font-size: $baseFontSize * (2 / 3)

  #header
    h1
      font-size: $baseFontSize * 4
    h2
      font-size: $baseFontSize * (4 / 3)

  article
    font-size: $baseFontSize

    small
      font-size: $baseFontSize * (2 / 3)

    header
      h1
        font-size: $baseFontSize * 2
        .date
          font-size: $baseFontSize
        .comments
          font-size: $baseFontSize
          white-space: nowrap

    section.content
      .footnotes
        font-size: $baseFontSize * (7 / 12)

    section.comments
      font-size: $baseFontSize * (2 / 3)

  .index
    ul.posts
      li.post
        font-size: $baseFontSize

@mixin capImageSizes($width)
  figure img,
  iframe
    max-width: $width

// Stupid vendor prefixes!
@mixin transition($property, $duration)
  -moz-transition: $property $duration
  -o-transition: $property $duration
  -webkit-transition: $property $duration
  transition: $property $duration

@mixin translucent($opacity)
  opacity: $opacity
  filter: alpha(opacity=$opacity * 100)

// Top-level styling
body
  background-image: linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0) 150px)
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0) 150px)
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0) 150px)
  background-repeat: repeat-x
  margin: auto
  padding-bottom: 60px

h1, h2, h3
  @include headingFont
  font-weight: 300

a
  color: $lightGreen
  font-weight: bold
  text-decoration: none
  &:hover
    color: darken($lightGreen, 20%)

table
  border-collapse: collapse
  margin: auto
  width: 100%

  th, td
    padding: 5px
  tr:nth-child(even)
    th, td
      background-color: $lightGray

  thead
    th
      border-bottom: 1px solid black

  tbody
    tr:hover td
      background-color: $yellow
    tr td:nth-child(n+2)
      text-align: right

ol
  list-style-type: decimal
  ol
    list-style-type: lower-alpha

sup
  display: inline-block
  margin-left: 3px

  a
    @include codeFont
    color: darken($lightGray, 20%)
    font-weight: 300
    &:hover
      color: lighten($darkGray, 10%)

blockquote
  background-color: $lightGray
  border-left: 5px solid darken($lightGray, 20%)
  padding: 5px

  p
    padding-left: 10px

pre
  @include codeFont
  background-color: $lightGray
  padding: 10px

  .highlight-special
    color: $pink

code
  @include codeFont
  color: $pink

pre code
  color: #444

// My own little classes
.hidden
  display: none

#header
  width: 90%
  border-bottom: 1px solid black
  margin: auto
  text-align: center

  h1
    @include titleFont
    letter-spacing: -1px
    margin-bottom: 0
    text-transform: uppercase

    a
      color: black
      text-decoration: none
      &:hover
        color: $lightGreen

  h2
    @include titleFont
    color: $darkGray
    margin-top: 0

    a
      color: $darkGray
      &:hover
        color: $lightGreen

iframe
  display: block
  margin: auto

figure
  text-align: center

  img
    background-color: $lightGray
    padding: 10px

  figcaption
    @include headingFont

  &.plain
    img
      background-color: #fff
      padding: 0

  &.no-caption
    figcaption
      display: none

article
  @include contentFont
  margin: auto

  header
    h1
      margin-bottom: 10px

      .title
        letter-spacing: -2px
        margin-bottom: 0

        a
          color: black
          font-weight: 300

          &:hover
            color: $lightGreen

      .date
        color: $darkGray
        white-space: nowrap

  section.content
    border-bottom: 1px solid black
    margin-bottom: 25px

    .centered
      text-align: center

    .post-link
      @include headingFont
      font-size: 75%

      &:nth-child(n+2)
        margin-left: 1em

      a
        color: lighten($darkGray, 20%)

        &:hover
          color: lighten($darkGray, 10%)
          text-decoration: underline

    .twitter-tweet
      margin: auto !important
      text-align: center

    .navigation
      min-height: 30px
      line-height: 30px
      margin-top: 25px
      margin-bottom: 10px
      font-size: 75%

      .previous
        float: left
        &:before
          content: "Older: "

      .next
        float: right
        &:before
          content: "Newer: "

      &:after
        content: ""
        display: block
        clear: both

  section.comments
    margin-top: 20px

  &.abbreviated
    .hidden-in-abbreviated-version
      display: none

.next-page
  height: 100px
  margin: auto

  &.loading
    background: url("/images/loading.gif") no-repeat left top

    a
      display: none

.index
  width: 75%
  margin: auto

  ul.posts
    display: table
    padding-left: 0
    width: 100%

    li.post
      display: table-row
      &:hover
        background-color: $lightBlue

      .title,
      .date
        display: table-cell
        padding: 5px 0

      .date
        text-align: right
        width: 250px

footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 50px
  background-color: darken($darkGray, 10%)
  line-height: 50px
  z-index: 1

  ul.menu
    list-style: none
    margin: 0 auto
    padding-left: 0
    overflow: hidden

    li
      @include headingFont
      display: inline-block
      color: white
      margin-right: 10px

      a
        color: lighten($lightGreen, 20%)

        &:hover
          color: lighten($lightGreen, 30%)
          text-decoration: underline

        img
          border: none
          vertical-align: middle

.dialog
  position: fixed
  top: 15%
  bottom: 15%
  left: 15%
  right: 15%
  margin: 0
  padding: 0
  background-color: white
  border: 3px solid $darkGray
  z-index: 1

  &.loading
    background: white url("/images/loading.gif") no-repeat center

  &.finished:before
    @include headingFont

    content: "If you're seeing this, the frame probably failed to load. (Click on the link below.)"
    display: block
    position: absolute
    top: 50%
    left: 0
    right: 0
    line-height: 40px
    margin: -20px auto 0
    font-size: 28px
    text-align: center
    z-index: -1

  iframe
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    border: none

  a.close-dialog
    @include headingFont
    @include translucent(0.5)

    position: absolute
    top: 10px
    right: 10px
    height: 40px
    width: 40px
    line-height: 40px
    background-color: black
    border-radius: 20px
    color: white
    cursor: pointer
    text-align: center
    text-decoration: none

    &:after
      content: "\00d7"

    &:hover
      @include translucent(0.90)

  a.link-away
    @include headingFont
    @include translucent(0.75)

    display: inline-block
    position: absolute
    bottom: 0
    right: 0
    height: 40px
    line-height: 40px
    padding: 0 10px
    background-color: black
    color: darken($yellow, 10%)
    text-align: right
    text-decoration: none

    &:before
      content: "Load "
      color: white

    &:after
      content: " in the main window"
      color: white

    &:hover
      @include translucent(0.9)
