%head
  %link(rel="stylesheet" href="/index.css")

%body
  %h1 The Philosopher Developer

  - if not @post.nil?
    = markdown @post.content

  - @posts.each do |p|
    %p
      %a(href="/#{p.id}")= p.title