%h1 Posts

%table.table.posts-table
  %colgroup(width="240px")
  %colgroup
  %tr
    %th Date
    %th Title
  - @posts.each do |post|
    %tr
      %td= render_post_created_at(post)
      %td= render_post_title_as_link(post)

%a(href="/posts/new") New Post
