%h1 Posts

%table.table.posts-table
  %colgroup(width="240px")
  %colgroup
  %tr
    %th Date
    %th Title
  - @posts.each do |post|
    %tr
      %td= format_date(post.date)
      %td= render_post_title_as_link(post)
