%h1 New Post

%form.post-form(method="POST" action="/posts")
  %label(for="title") Title
  %input#title(name="title" type="text")

  %label(for="content") Content
  %textarea#content(name="content")

  %input(type="submit")
