<div id="share_this">
  <span class='st_twitter_hcount' displayText='Tweet'></span>
  <span class='st_linkedin_hcount' displayText='LinkedIn'></span>
  <span class='st_facebook_hcount' displayText='Facebook'></span>
  <span class='st_googleplus_hcount' displayText='Google+'></span>
</div>
