%article
  %header
    %h1
      %span.title
        %a(href="#{post.link}")= post.title
      %span.date= post.friendly_date

  %section.content
    = post.to_html

  - if post.allow_comments
    %section.comments
      #disqus_thread

      %script(type="text/javascript" src="/javascripts/disqus.js")

      %noscript
        Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>

      %a.dsq-brlink(href="http://disqus.com")
        comments powered by
        %span.logo-disqus Disqus
