- posts.each do |post|
  %article.post
    %section.heading
      %h1
        %span.title
          %a(href="/posts/#{CGI.escape(post.identifier)}.html")= post.title
        %span.date= post.friendly_date

    %section.content
      = post.to_html
