- posts.each do |post|
  %article
    %header
      %h1
        %span.title
          %a(href="#{post.link}")= post.title
        %span.date= post.friendly_date

    %section.content
      = post.to_html(300)
