- posts.each do |post|
  %article.abbreviated
    %header
      %h1
        %span.title
          %a(href="#{post.link}")= post.title
        %span.date= post.friendly_date

    %section.content
      = post.to_html(:max_length => 300)
