<!DOCTYPE html>
<html>
  <head>
    <title>The Philosopher Developer</title>
    <meta charset='utf-8'>
    <meta content='initial-scale=1.0, width=device-width, user-scalable=no' name='viewport'>
    <meta content='upgrade-insecure-requests' http-equiv='Content-Security-Policy'>
    <link href="/favicon.ico" rel="icon" type="image/ico" />
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <h1><a href="/">The Philosopher Developer</a></h1>
      <h2><a href="/">all the posts</a></h2>
    </header>
    <main>
      <div class='posts'>
        {% for (year, posts) in posts_by_year %}
        <h2>{{ year }}</h2>
        {% for post in posts %}
        <div class='post'>
          <div class='title'><a href="/posts/{{ post.slug }}.html">{{ post.title }}</a></div>
          <div class='date'>{{ post.pretty_date }}</div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
    </main>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="dtao" data-description="Support me on Buy me a coffee!" data-message="If you enjoy my writing, you can always buy me a coffee to say thanks." data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  </body>
</html>
