<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - The Philosopher Developer</title>
    <meta charset='utf-8'>
    <meta content='initial-scale=1.0, width=device-width, user-scalable=no' name='viewport'>
    <meta content='upgrade-insecure-requests' http-equiv='Content-Security-Policy'>
    <link href="/favicon.ico" rel="icon" type="image/ico" />
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    {% for js_url in metadata.javascript %}
    <script src="{{ js_url }}"></script>
    {% endfor %}
    {% if not metadata.disable_sharing %}
    <script src="https://platform-api.sharethis.com/js/sharethis.js#property=589652d7b750240012d3ebf7&product=inline-share-buttons"></script>
    {% endif %}
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37508084-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <header>
      <h1><a href="/posts/{{ slug }}.html">{{ title }}</a></h1>
      <h2><a href="/">The Philosopher Developer</a></h2>
    </header>
    <main>
      <article id='{{ slug }}'>
        {% if subtitle %}
        <header>
          <h1>{{ subtitle }} <span class="comments"><a href="#disqus_thread"></a></span></h1>
        </header>
        {% endif %}
        {% if not metadata.disable_sharing %}
        <div class="sharethis-inline-share-buttons"></div>
        {% endif %}

        {{ html|safe }}

        {% if not metadata.disable_comments %}
        <div id="disqus_thread"></div>
        {% endif %}

      </article>
    </main>
  </body>

  {% if not metadata.disable_comments %}
  <script>
    window.disqus_shortname = "philosopherdeveloper";
    window.disqus_title = "{{ title }}";
    window.disqus_identifier = "{{ slug }}";

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'https://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
  {% endif %}
</html>
