<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - The Philosopher Developer</title>
    <meta charset='utf-8'>
    <meta content='initial-scale=1.0, width=device-width, user-scalable=no' name='viewport'>
    <meta content='upgrade-insecure-requests' http-equiv='Content-Security-Policy'>
    <link href="/images/favicon.ico" rel="icon" type="image/ico" />
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    {% for js_url in metadata.javascript %}
    <script src="{{ js_url }}"></script>
    {% endfor %}
    {% if not metadata.disable_sharing %}
    <script src="https://platform-api.sharethis.com/js/sharethis.js#property=589652d7b750240012d3ebf7&product=inline-share-buttons"></script>
    {% endif %}
  </head>
  <body>
    <header>
      <h1><a href="/posts/{{ filename }}.html">{{ title }}</a></h1>
      <h2><a href="/">The Philosopher Developer</a></h2>
    </header>
    <main>
      <article id='{{ slug }}'>
        {% if subtitle %}
        <header>
          <h1>{{ subtitle }}</h1>
        </header>
        {% endif %}
        {% if not metadata.disable_sharing %}
        <div class="sharethis-inline-share-buttons"></div>
        {% endif %}
        {{ html|safe }}
      </article>
    </main>
  </body>
</html>
