!!!
%head
  %title The Philosopher Developer
  = stylesheet_link_tag("application")

%body
  #menu
    - Post.by_month do |month, posts|
      %h1.menu-heading= month.strftime("%B %Y")
      - posts.each do |post|
        %p.menu-item
          %a(href="#{post.identifier}")= post.title

  #content
    = yield
