!!!
%head
  %title The Philosopher Developer
  %meta(name="viewport" content="initial-scale=1.0, width=device-width, height=device-height")
  = stylesheet_link_tag("application")

%body
  #header
    %h1 The Philosopher Developer

  #content
    = yield

  #menu-header
    %h1 Menu

  #menu
    - Post.by_month do |month, posts|
      %h1.menu-heading= month.strftime("%B %Y")
      - posts.each do |post|
        %p.menu-item
          %a(href="#{post.identifier}")= post.title
