!!!
%head
  %title The Philosopher Developer
  %meta(name="viewport" content="initial-scale=1.0, width=device-width, height=device-height")
  = stylesheet_link_tag("application")
  = stylesheet_link_tag("/pygments")

%body
  #header
    %h1 <a href="/">The Philosopher Developer</a>
    %h2 half-sound logic, half-decent code

  = yield

  #footer
    %ul.menu
      %li <a href="/index">All Posts</a>
      %li <a href="http://stackoverflow.com/users/105570" target="_blank">StackOverflow</a>
      %li <a href="https://github.com/dtao" target="_blank">GitHub</a>
      %li <a href="https://twitter.com/dan_tao" target="_blank">Twitter</a>
