!!!
%head
  %title The Philosopher Developer
  %meta(name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width, height=device-height")
  %link(rel="stylesheet" href="/stylesheets/application.responsive.css")
  %link(rel="stylesheet" href="/stylesheets/pygments.css")

%body
  #header
    %h1 <a href="/">The Philosopher Developer</a>
    %h2 half-sound logic, half-decent code

  = yield

  #footer
    %ul.menu
      %li <a href="/posts">All Posts</a>
      %li
        %a(href="http://stackoverflow.com/users/105570" target="_blank")
          %img(alt="StackOverflow" src="/icons/stackoverflow-small.png")
      %li
        %a(href="https://github.com/dtao" target="_blank")
          %img(alt="GitHub" src="/icons/github-small.png")
      %li
        %a(href="https://twitter.com/dan_tao" target="_blank")
          %img(alt="Twitter" src="/icons/twitter-small.png")
