!!!
%head
  %title The Philosopher Developer
  %meta(name="viewport" content="initial-scale=1.0, width=device-width, height=device-height")
  = stylesheet_link_tag("application")

%body
  #header
    %h1 <a href="/">The Philosopher Developer</a>
    %h2 half-sound logic, half-decent code

  = yield

  #footer
    %ul.menu
      %li <a href="#comments">Comments</a>
      %li <a href="/index">All Posts</a>
